.container {
  padding: 10vw;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
}

.container h1 {
  font-size: 6rem;
  color: #6bf8ff;
}

.container p {
  font-size: 1.5rem;
  color: #00a1a4;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #6bfdff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #47b5ff;
}

.Nav-bar {
  width: 100vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4vw;
  backdrop-filter: blur(40px);
  position: fixed;
  z-index: 2000;
}
.Nav-Links {
  display: flex;
  align-items: center;
  gap: 2vw;
  color: white;
}
.user-money {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background: rgba(29, 223, 210, 0.572);
  padding: 3px 0.5rem;
  color: white;
  border-radius: 2rem;
  gap: 1vw;
}
.user-money .money {
  background: black;
  border-radius: 1.5rem;
  padding: 3px 1rem;
}
.Nav-Links button {
  display: flex;
  align-items: center;
  width: fit-content;
  background: rgba(29, 223, 210, 0.572);
  padding: 3px 0.5rem;
  color: white;
  border-radius: 2rem;
  border: none;
}
.nav-icon {
  display: none;
}
@media (max-width: 1000px) {
  .Nav-Links {
    position: absolute;
    flex-direction: column;
    width: 40vh;
    height: 100vh;
    top: 0;
    right: 0;
    gap: 5vh;
    background-color: rgba(0, 39, 136, 0.8);
    z-index: 2000;
    padding: 15vw 2vw;
    transition: all 0.5s ease-in-out;
  }
  .nav-icon {
    display: flex;
    position: relative;
    width: 3rem;
    height: 3rem;
    transition: all 0.3s;
    z-index: 2001;
  }
  .nav-icon::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    top: 40%;
    transition: all 0.3s;
    transform-origin: center;
  }
  .nav-icon.click::after {
    top: 40%;
    transform: rotate(45deg);
    transition: all 0.3s;
    top: 50%;
  }
  .nav-icon::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    top: 55%;
    background-color: #ffffff;
    transition: all 0.3s;
    transform-origin: center;
  }
  .nav-icon.click::before {
    width: 80%;
    top: 50%;
    transform: rotate(-45deg);
  }
  .user-money {
    flex-direction: column;
    border-radius: 0.4rem;
  }
  .Nav-Links button {
    display: block;
  }
}
